/* style des blocs de data du dashboard */

.block-data{
  padding: 45px 20px 20px 30px;
  color: $white;
  overflow: hidden;
  position: relative;
  >.donneeTexte{
    @extend %titre-titre;
    text-align: left;
    line-height: 1.1;
    width: 100%;
    margin-bottom: 20px;
  }
  >.description{
    @extend %texte-labeur;
    text-align: left;
    width: 100%;
  }
  >.picto{
    position: absolute;
    width: 50%;
    margin-left: 15%;
    bottom: 20px;
  }
}

.info-epci{
  background-color: $main-color;
}

.info-conjoncture{
  background-color: $main-contrast;
}

.info-investissement{
  background-color: $main-color;
}

.info-emploi{
  background-color: $main-contrast;
}

.info-distance{
  background-color: $main-color;
}

.info-contrat{
  background-color: $main-contrast;
}

.info-mp{
  background-color: $main-color;
}

.info-dd{
  background-color: $main-contrast;
}
