/* style des blocs de data du dashboard */

.block-data{
  color: $white;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  perspective: 800px;
  >.card{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s;
  }
}
.block-data:hover{
  >.card{
    transform: rotate3d(1, 0, 0, 180deg );
  }
}


.bloc-recto{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 45px 20px 20px 30px;
  box-sizing: border-box;
}
.bloc-verso{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 45px 20px 20px 30px;
  box-sizing: border-box;
  transform: rotate3d(1, 0, 0, 180deg );
  background-color: $data-metier1;
  >.description-data{
    width: 100%;
    @extend %titre-titre;
    hyphens: manual;
  }
  >span{
    @extend %texte-labeur;
  }
}
