.bloc-recto{
  >.donnee{
    @extend %data-donnee;
    margin-top: 20%;
    text-align: center;
    width: 100%;
  }
  >.echelle{
    position: absolute;
    left: -20px;
    bottom: 20px;
    @extend %data-echelle;
    width: 100%;
    text-align: right;

  }
  .donneetexte{
    @extend %titre-titre;
    margin-top: 30%;
    text-align: center;
    width: 100%;
  }
  >.liste{
    position: absolute;
    bottom: 20px;
    right: 20px;
    >.donneeliste{
      float: right;
      text-align: right;
      width: calc(100% - 30px);
      @include prefix((
        hyphens: auto
      ), webkit moz);
    }
  }
}


.n1{
  @extend %data-liste;
  text-align: right;
  font-size: 4vw;
  line-height: 0.9;
}
.n2{
  @extend %data-liste;
  text-align: right;
  font-size: 3vw;
  line-height: 1;
}
.n3{
  @extend %data-liste;
  text-align: right;
  font-size: 2vw;
  line-height: 1.1;
}
.n4{
  @extend %data-liste;
  text-align: right;
  font-size: 1vw;
  line-height: 1.2;
}

.info-epci{
  background-color: $main-color;
  width: 100%;
  height: 100%;
  padding: 45px 20px 20px 30px;
  box-sizing: border-box;
  >.description{
    @extend %mini-titre;
    text-align: left;
    width: 100%;
    margin-top: 30px;
  }
  >.picto{
    position: absolute;
    width: 50%;
    margin-left: 15%;
    bottom: 20px;
  }
}

.info-conjoncture{
  background-color: $main-color;
}

.info-investissement{
  background-color: $main-color;
}

.info-emploi{
  background-color: $main-darker;
}

.info-distance{
  background-color: $main-color;
}

.info-contrat{
  background-color: $blue-color;
}

.info-mp{
  background-color: $main-color;
}

.info-dd{
  background-color: $main-color;
}
