/* style de la partie zoom de la nav-bar */

.button-zoom{
  >.button{
    cursor: pointer;
    float: left;
    width: 48px;
    height: 48px;
  }
  >.button:last-of-type{
    margin-right: 24px;
  }
  >.button:hover{
    stroke-width: 4;
  }
  >.niveau-zoom{
    @extend %texte-labeur;
    text-align: left;
    height: 48px;
    line-height: 48px;
  }
}
