/* style de la partie zoom de la nav-bar */

.button-zoom{
  >.niveau-zoom{
    position: relative;
    float: right;
    @extend %texte-labeur;
    text-align: right;
    margin-right: 50px;
    width: 30%;
    height: 48px;
    line-height: 48px;
    opacity: .2;
  }
  >.active-zoom{
    opacity: 1;
  }
}

.switch {
  position: relative;
  float: right;
  width: 48px;
  height: 24px;
  margin: 12px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -3px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $data-jaune;
}

input:focus + .slider {
  box-shadow: 0 0 1px $data-jaune;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}
