html, body{
    height: 100%;
    margin: 0;
}

/* partie de droite */

#containerAides {
    height: 100%;
    height: -webkit-calc(100% - 55px);  /* pour Chrome */
    height: -moz-calc(100% - 55px);     /* pour Firefox */
    height: calc(100% - 55px);           /* pour support natif */

    padding-left: 100px;

    padding-top: 5px;
    padding-bottom: 50px;

    background: #FFFFFF;
}

#selectionIntevalle {
    padding-left: 100px;
}

.intervalle {
    color: #909192;
    font-family: "Avenir Next";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

#intervalleQuotient, #intervalleAge, #intervalleDistance {
    display:inline-block;
    width:50%;
}

#intervalleAge {
    display:inline-block;
    width:50%;
}

#containerAides p {
    font-size: 14px;
}

#aide {

    color: #232222;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;

    padding-top: 10px;

    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}

#criteres {
    float:right;

    width: 750px;
    color: #232222;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;

    margin-right: 50px;
    margin-top: 15px;
    padding-left: 20px;

    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}


.descriptionAide {
    float:right;
    width: 400px;
    height: 200px;

    margin-right: 50px;

    padding-left: 20px;
    padding-right: 20px;

}

#nom-aide {
    width: 400px;
    height: 24px;
    color: #000000;
    font-family: Lato;
    font-size: 20px;
    line-height: 1px;
}

#description-aide {
    height: 72px;
    width: 343.59px;
    color: #232222;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
}

#lien-aide {
    position: relative;
    bottom: -25px;
    left: 270px;

    height: 19px;
    width: 93px;
    color: #4199BE;
    border: 1px solid #4199BE;

    padding: 2px;

    text-align: center;
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1px;
}

#containerAides .figure:hover #intro {
    opacity: 1;
}

#montant-aide {
    float: left;

    margin-left: 90px;

    font-size: 80px;

    color: #009BC2;
    font-family: Lato;
    font-weight: bold;
}


/* partie de gauche */

.texte {
    height: 100%;
    height: -webkit-calc(100% - 50px);  /* pour Chrome */
    height: -moz-calc(100% - 50px);     /* pour Firefox */
    height: calc(100% - 50px);          /* pour support natif */

    padding-left: 40px;
    padding-right: 40px;

    padding-bottom: 50px;

    float:left;
    width:400px;

    background-color: #ABCC21;
}

#logo-pdl {
    margin-left: 50px;
    width: 174px;
    background-color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Lato;
}

.credits {
    float:right;
    top: 5px;
    right: 25px;
}

.home {
    top: 5px;
    right: 150px;
}

.accroche {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.explication {
    top: 250px;

    height: 23.65%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 25px;
}

.temoignage {
    position: absolute;
 /*   left: 41px;*/
    top: 400px;

    height: 158px;
    width: 394px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 25px;
}