html {
    height: 100%;
}

body {
    height: 100%;
    height: -webkit-calc(100%);  /* pour Chrome */
    height: -moz-calc(100%);     /* pour Firefox */
    height: calc(100%);          /* pour support natif */
}


a:link, a:visited {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #757575;
    text-decoration: none;
}

header {
    height: 60px;
}

#home {
    position: absolute;
    top: 25px;
    left: 300px;

    height: 19px;
    width: 280.39px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;

    width: 80px;
}

#credits {
    position: absolute;
    top: 25px;
    left: 400px;

    height: 19px;
    width: 280.39px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;

    width: 80px;
}

#logo-pdl {
    margin-left: 50px;

    height: 55px;
    width: 180px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
}

h1 {
    height: 20.94%;
    width: 100%;
    color: rgba(0,0,0,0.8);
    font-family: Lato;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 54px;
    text-align: center;
}

#conclusion {
    margin-left: 350px;

    height: 178px;
    width: 674px;
    color: rgba(0,0,0,0.8);
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
}

.logo {
    width: 250px;
}

.ecole {
    float:left;
    height: 300px;
    /*width: 100%;*/

    margin: 20px;
    padding: 10px;

    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
}

.nom {
    margin-left: 50px;

    color: #000000;
    font-family: "Lucida Grande";
    font-size: 16px;
    line-height: 18px;
}

#ecoles {
  /*  margin-left: 280px;*/
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
}