html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

/** colonne de gauche **/

/* logo, liens home et cédits */
.logo-pdl {
    margin-left: 25px;
    width: 180px;
    background-color: #FFFFFF;
}

.credits, .home {
    outline: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    font-family: Lato;
}

.credits {
    position: absolute;
    margin-top: 10px;
    top: 5px;
    left: 360px;
    width: 100px;
}

.home {
    position: absolute;

    margin-top: 10px;
    top: 5px;
    left: 280px;

    width:70px;
}

.credits:hover, .credits:focus, .home:hover, .home:focus {
    color: black;
    text-decoration: none;
}

/* textes de la colonne */

/* partie de gauche */

.texte {
    height: 100%;
    height: -webkit-calc(100% - 50px);  /* pour Chrome */
    height: -moz-calc(100% - 50px);     /* pour Firefox */
    height: calc(100% - 50px);          /* pour support natif */

    padding-left: 3%;
    padding-right: 40px;

    padding-bottom: 50px;
    float:left;
  /*  width:400px; */
    width: 30%;
}

.accroche1, .accroche2 {
    color: #FFFFFF;
    font-family: Lato;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.accroche1 {
    margin-top: 20%;
    font-size: 30px;
}

.accroche2 {
    font-size: 26px;
    margin-bottom: 12%;
}

.accroche {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.explication {
    top: 30%;
 /*   height: 23.65%;*/
    color: #FFFFFF;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.phraseConvaincante {

    color: #FFFFFF;
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    margin: 2px 0 0 0;
    padding: 0;
}

.temoignage {
    position: absolute;
    top: 70%;
    width: 394px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    font-style: italic;
}

/** lien rond sur la droite **/

a.lienRond {
    position: absolute;
    right: 20px;
    border-radius: 25px;
    height: 10px;
    width: 10px;

    background-color: #4199BE;
    border: none;

    display: block;
    margin: auto;
}

a.lienRond:hover {
     border-radius: 25px;

     background-color: #2a5872;
     border: none;

     display: block;
     margin: auto;
 }

a.lienActuel {
    position: absolute;
    right: 18px;
    border-radius: 25px;
    height: 15px;
    width: 15px;

    background-color: #4199BE;
    border: none;

    display: block;
    margin: auto;
}

a.lienActuel:hover {
    border-radius: 25px;

    background-color: #2a5872;
    border: none;

    display: block;
    margin: auto;
}

#rond1, #rond11 {
    top: 45%;
}

#rond2, #rond22 {
    top: 49%;
}

#rond3, #rond33 {
    top: 53%;
}

#rond4, #rond44 {
    top: 57%;
}