/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

div {
    background-color: #900000;
    border-width: medium;
    border-color: aqua;

}