/* style de la partie team */
.partie-team{
  @extend %full-viewport;
  background-color: $white;
  >.logo-bam{
    height: 33.33%;
    width: 50%;
    position: relative;
    margin: auto;
    >object{
      position: absolute;
      transform: translate(-50%, -50%);
      margin-left: 50%;
      margin-top: 25%;
    }
  }
  >.title{
    @extend %titre-titre;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    color: $black;
  }
  >.logo-crews{
    position: relative;
    height: 10%;
    width: 66.66%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    >.capeb{
      grid-column: 1;
      grid-row: 1;
      border-right: solid 0.5px rgba(29, 29, 27, 0.5);
    }
    >.agr{
      grid-column: 2;
      grid-row: 1;
      border-right: solid 0.5px rgba(29, 29, 27, 0.5);
    }
    >.polytech{
      grid-column: 3;
      grid-row: 1;
      border-right: solid 0.5px rgba(29, 29, 27, 0.5);
    }
    >.sc{
      grid-column: 4;
      grid-row: 1;
    }
    >.bloc-logo{
      position: relative;
      >.logocrew{
        position: absolute;
        transform: translate(-50%, -50%);
        margin-left: 50%;
        margin-top: 15%;
      }
    }
  }
  .members-crews{
    position: relative;
    width: 66.66%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    >.crew{
      margin-top: 40px;
      grid-auto-flow: column;
      >.folio{
        height: 30px;
        width: 100%;
        position: relative;
        text-align: center;
        color: rgba(29, 29, 27, 0.5);
        @extend %texte-labeur;
      }
      >.folio:hover{
        font-weight: 500;
      }
    }
  }
}
