/* style de la partie intro */
.partie-intro{
  @extend %full-viewport;
  background-color: $main-color;
  display: grid;
  grid-template-columns: 22.5vh 1fr 1fr;
  grid-template-rows: 22.5% 67.5% 10% ;
  >.social-links{
    position: absolute;
    top: 28px;
    left: 30px;
  }
  >.visuelcapeb{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }
  >.content-intro{
    grid-column: 3;
    grid-row: 2;
    z-index: 1;
  }
  >.decoBGintro{
    margin-left: 14%;
    width: 86vw;
    position: absolute;
    height: 100vh;
    line-height: 100vh;
    overflow: hidden;
  }
  >.buttonscroll{
    grid-column: 1 / 4;
    grid-row: 3;
    margin: 2.5% 50%;
  }
}
