/* just a sample css rule to show that everything works */
body {
  background-color: #241D37;
}

footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

#background {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0px;
  left: 0px;
}

#chart_lum_container {
  width: 60%;
  height: 60%;

}

#myChart {
  background-color: white;
}

#train {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 2;
}

@font-face {
  font-family: "overpass";
  font-weight: normal;
  font-size: normal;
  src: url("overpass-regular.otf");
}
@font-face {
  font-family: "overpass";
  font-weight: bold;
  font-size: normal;
  src: url("overpass-bold.otf");
}
@font-face {
  font-family: "overpass";
  font-weight: normal;
  font-style: italic;
  src: url("overpass-italic.otf");
}
@font-face {
  font-family: "overpass";
  font-style: italic;
  font-weight: bold;
  src: url("overpass-bold-italic.otf");
}

@font-face {
  font-family: "work_sans";
  src: url("WorkSans-Regular.ttf");
}

@font-face {
  font-family: "work_sans";
  font-weight: bold;
  src: url("WorkSans-Bold.ttf");
}

body
{

}

h1
{
  font-family: "overpass";
  font-weight: bold;
  color:#F53855;
  position: relative;
  left: 0;
  top: 10%;
  width: 90%;
  text-align: center;
}

#container
{
  background-attachment:fixed;
  background: url('/img/Background-01.svg');
}

#contain_about
{
  float: left;
  margin-left: 5%;
  width: 70%;
  margin-top: 7%;
}

.personnages
{
}

.personnage
{
  display: inline-block;
  width: 17%;
  text-align: center;
}

p
{
  color:white;
  font-weight: bold;
  font-family: "work_sans";
  font-size:12px;
}
a
{
  color:white;
  font-family: "work_sans";
  font-size:12px;
}

.info
{
  display: inline;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.perso {
  font-family: "work_sans";
  color: white;
  font-size: 16px;
}






.image_perso
{
  text-align: center;
  filter:alpha(opacity=40);
  -moz-opacity: 0.8;
  opacity:0.8;
}

h2
{
  font-family :overpass;
  color: #F53855;
  font-size: 14px;
  font-weight: bold;
}
#informations
{
  float: right;
  margin-right: 15%;
  width: 10%;
  margin-top: 3%;
}

#informations h2 {
  font-size: 18px;
  font-weight: normal;
}

#informations a {
  text-decoration: none;
  display: block;
  margin: 2px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}


#equipe a p
{
  font-weight: bold;
  font-family: "overpass";
  font-size:16px;
}

.orange {
  color: #E37B40;
}
.bleu {
  color: #4479FF;
}
.rouge {
  color: #F53855;
}
.vert {
  color:#46B29D;
}
