/* ---------- MAP ------ */

#bigText{
    position:absolute;
}

.axis{
    opacity: 0.5;
}

/* -------- CHARTS ---------- */

.chart{
    width: auto;
    display: inline-block;
    padding: 2%;
}
