#page1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:cornflowerblue;
}

#page2{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#F0F0F0;
}

#page3{
    display:none;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:azure;
}

footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

svg{
    overflow: visible;
}

/* ---------- MAP ------ */

#bigText{
    position:absolute;
}

.axis{
    opacity: .5;
}

/* -------- CHARTS ---------- */

.chart{
  width: auto;
  display: inline-block;
  padding: 2%;
}


/* -------- SUNBURST ---------- */

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: auto;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: auto;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
