#page1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:cornflowerblue;
}

#page2{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#F0F0F0;
}

#page3{
    display:none;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#900000;
}

footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

svg{
    overflow: visible;
}

/* ---------- MAP ------ */

#bigText{
    position:absolute;
}

.axis{
    opacity: .5;
}

/* -------- CHARTS ---------- */