/* -------- SUNBURST ---------- */

#main {
  float: left;
  width: 100%;
}

#sidebar {
  grid-column: 4;
  grid-row: 2;
  background-color: aqua;
}
#sequence {
  display: none;
  width: auto;
  height: 70px;
}

#legend {
  grid-column: 4;
  grid-row: 2;
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: auto;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
