/* Règles CSS en plus de celles de bootstrap ou fullpage.js*/

/* ----- Général ----- */
@font-face {
    font-family: 'GOTHAM-BLACK';
    src: url('GothamFontsFamily/GOTHAM-BLACK.ttf');
}
@font-face{
    font-family: 'Gotham-Book';
    src: url('GothamFontsFamily/Gotham-Book.otf');
}

body{
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 17px;
}

.normal {
    font-weight: 400;
    font-size: 12px;
}

.section {
    background-color: #96edbd;
}

/* ----- Header ----- */
.navbar-brand>img {
    height: 20px;
    width: auto;
}



/* ----- Page 1 ----- */
#page1DisplayOn{
    filter :blur(0px);
}
/* Section 1 */
#section1 {
    float: left;
    position: absolute;
    border: solid 3px black;
    background-color: white;
    top: 10%;
    left: 5%;
    width: 40%;
    height: 31%;
    word-wrap : break-word;
    text-align: justify;
}

.pContent {
    padding-left: 10px;
    padding-right: 10px;
}

.pTop {
    padding-top: 10px;
    padding-bottom: 5px;
}

.pBottom {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Section 2 */
#section2 {
    float: left;
    width: 40%;
    height: 7%;
    position: absolute;
    top: 90%;
    left: 15%;
}

.boutonRond {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-color: black;
    border-style: solid;
    background-color: white;
    margin: auto;
}

/* Section 3 */
#section3 {
    float: left;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 46%;
    height: 75%;
    word-wrap : break-word;
    background-color: white;
    border: 3px solid black;
}

.article1 {
    float: left;
    width: 50%;
    height: 80%;
}

#legendeTitle {
    padding-left: 10px;
}

#legende {
    padding: 5px;
    width: 100%;
}

.cellule{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 33%;
}

#buttonSP {
    float: left;
    position: absolute;
    left: 85%;
    top: 90%;
    width: 10%;
    height: 5%;
    border: 1px solid black;
}

/* Carte Départements */
#mapBretagne {
    float: left;
    width: 40%;
    position: absolute;
    top: 43%;
    left: 5%;
}

#mapBretagne path {
    fill: white;
    stroke: black;
    stroke-width: 1 px;
    transition: fill 0.3s;
}

#mapBretagne path:hover{
    fill: #c7c8ca;
}

.st0 {
    fill: #806703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #F8C000;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #212653;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #6262E8;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #7C3703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #EF6316;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #671D3A;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #AA3565;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #721C05;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #D42E1E;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #416C77;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
}

.st15 {
    fill: #1D1D1B;
}

.st16 {
    font-weight: 700;;
}

.st17 {
    font-size: 7px;
}

#enSavoirPlusP1{
    font-weight: 400;
    border: solid;
    border-width: 5px;
    position: absolute;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
    padding: 20px 20px 5px 20px;
    background: white;
    z-index: 2;
    display: none;
}

#exitP1{
    display:flex;
    flex-direction: row;
    justify-content: center;
}



/* ----- Page 2 ----- */
/* Section 4 */
#section4 {
    float: left;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 25%;
    height: 52%;
    border: 3px solid black;
    background-color: white;
    word-wrap : break-word;
    text-align: justify;
}

.pTitle {
    padding: 10px;
}

/* Section 5 */
#section5 {
    float: left;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 25%;
    height: 25%;
    border: 3px solid black;
    background-color: white;
}

#pCiterne {
    float: left;
    position: absolute;
    left: 30%;
    top: 10%;
    text-align: justify;
}

.st100 {
    fill: #A0DAE8;
}

.st101 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st102 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st103 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#citerne {
    width: 22%;
    float: left;
    position: relative;
    top: 24%;
    left: 6%;
}

/* Carte Campbon */
#mapCampbon {
    float: left;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 45%;
}

.st200 {
    fill: #7CCAE2;
}

.st201 {
    font-family: 'MyriadPro-Regular';
}

.st202 {
    font-size: 16.4237px;
}

.st203 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 3.5332;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st204 {
    fill: #FFFFFF;
}

.st205 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st206 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st207 {
    fill: none;
}

.st208 {
    fill: #1D1D1B;
}

.st209 {
    font-family: 'Gotham-Black';
}

.st210 {
    font-size: 17px;
}

.st211 {
    fill: #A0DAE8;
}

.st212 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st213 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st214 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}