/* Règles CSS en plus de celles de bootstrap ou fullpage.js*/

/* ######################################################################### */
/* --------------- Général --------------- */
/* ######################################################################### */

body{
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 17px;
}

.normal {
    font-weight: 400;
    font-size: 12px;
}

.section {
    background-color: #96edbd;
}

/* ----- Header ----- */
.navbar-brand>img {
    height: 20px;
    width: auto;
}



/* ######################################################################### */
/* --------------- Page 1 --------------- */
/* ######################################################################### */
#page1DisplayOn{
    filter :blur(0px);
}

/* Section 1 */
#section1 {
    float: left;
    position: absolute;
    border: solid 3px black;
    background-color: white;
    top: 7%;
    left: 5%;
    width: 40%;
    height: 31%;
    word-wrap : break-word;
    text-align: justify;
}

.pContent {
    padding-left: 10px;
    padding-right: 10px;
}

.pTop {
    padding-top: 10px;
    padding-bottom: 5px;
}

.pBottom {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Section 2 */
#section2 {
    float: left;
    width: 40%;
    height: 15%;
    position: absolute;
    top: 78%;
    left: 8%;
}

.boutonRond {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-color: black;
    border-style: solid;
    background-color: white;
    margin: auto;
}

/* Section 3 */
#section3 {
    float: left;
    position: absolute;
    top: 7%;
    left: 50%;
    width: 46%;
    height: 78%;
    word-wrap : break-word;
    background-color: white;
    border: 3px solid black;
}

/* Bonhomme */
#histDroite {
    float: left;
    position: absolute;
    top: 1%;
    left: 45%;
    width: 45%;
}

#histGauche{
    float: left;
    position: absolute;
    top: 1%;
    left: 0%;
    width: 45%;
}

.article1 {
    float: left;
    width: 50%;
    height: 80%;
}

#legendeTitle {
    padding-left: 10px;
}

#legende {
    padding: 5px;
    width: 100%;
}

.cellule{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 33%;
}

#buttonSP {
    float: left;
    position: absolute;
    left: 80%;
    top: 90%;

}

/* Carte Départements */
#mapBretagne {
    float: left;
    width: 40%;
    position: absolute;
    top: 39%;
    left: 5%;
}

#mapBretagne path {
    fill: white;
    stroke: black;
    stroke-width: 1 px;
    transition: fill 0.3s;
}

#mapBretagne path:hover{
    fill: #c7c8ca;
}

.st0 {
    fill: #806703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #F8C000;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #212653;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #6262E8;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #7C3703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #EF6316;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #671D3A;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #AA3565;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #721C05;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #D42E1E;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #416C77;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
}

.st15 {
    fill: #1D1D1B;
}

.st16 {
    font-weight: 700;;
}

.st17 {
    font-size: 7px;
}

.enSavoirPlusP1{
    font-weight: 400;
    border: solid;
    border-width: 5px;
    position: absolute;
    top: 100px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
    padding: 20px;
    background: white;
    z-index: 2;
    display: none;
}


#enSavoirPlusHautP1{
    font-weight: 700;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#boutonExitP1{
    margin-top: 17px;
    height: 36px;
    width: 36px;
}

#enSavoirPlusBasP1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#enSavoirPlusBasP1 article{
    text-align: justify;
    margin: 20px;
}



/* ######################################################################### */
/* --------------- Page 2 --------------- */
/* ######################################################################### */
/* Section 4 */
#section4 {
    float: left;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 25%;
    height: 52%;
    border: 3px solid black;
    background-color: white;
    word-wrap : break-word;
    text-align: justify;
}

.pTitle {
    padding: 10px;
}

/* Section 5 */
#section5 {
    float: left;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 25%;
    height: 25%;
    border: 3px solid black;
    background-color: white;
}

#pCiterne {
    float: left;
    position: absolute;
    left: 30%;
    top: 10%;
    text-align: justify;
}

.st100 {
    fill: #A0DAE8;
}

.st101 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st102 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st103 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#citerne {
    width: 22%;
    float: left;
    position: relative;
    top: 24%;
    left: 6%;
}

/* Carte Campbon */
#mapCampbon {
    float: left;
    position: absolute;
    top: 7%;
    left: 40%;
    width: 45%;
}

.st200 {
    fill: #7CCAE2;
}

.st201 {
    font-family: 'MyriadPro-Regular';
}

.st202 {
    font-size: 16.4237px;
}

.st203 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 3.5332;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st204 {
    fill: #FFFFFF;
}

.st205 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st206 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st207 {
    fill: none;
}

.st208 {
    fill: #1D1D1B;
}

.st209 {
    font-weight: 700;
}

.st210 {
    font-size: 17px;
}

.st211 {
    fill: #A0DAE8;
}

.st212 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st213 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st214 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}



/* ######################################################################### */
/* --------------- Page 3 --------------- */
/* ######################################################################### */
/* Section 6 */
#section6 {
    float: left;
    position: absolute;
    background-color: white;
    border: 3px solid black;
    top: 7%;
    left: 5%;
    width: 31%;
    height: 60%;
    text-align: justify;
}

/* Section 7 */
#section7 {
    float: left;
    position: absolute;
    top: 70%;
    left: 3.6%;
    width: 40%;
    height: 15%;
}

/* Pour les timelines */
.timeline:before {
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: black;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item .timeline-badge {
  width: 40px;
  height: 40px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
}

.timeline .timeline-item .timeline-badge.primary {
  background-color: white;
}

.timeline .timeline-item .timeline-badge.primary:hover {
  background-color: #c7c8ca;
}

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}

.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 19px;
  left: 5%;
  right: 0;
  width: 101%;
  margin-bottom: 20px;
}

.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 70px;
  width: 20%;
  min-width: 80px;
  float: left;
  left: 10.5%;
  margin: 0 auto;
  vertical-align: bottom;
}

.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
}

.pTimeline {
    text-align: center;
    padding-top: 100%;
}

/* Section 8 */
#section8 {
    float: left;
    position: absolute;
    background-color: white;
    border: 3px solid black;
    top: 28%;
    left: 75%;
    width: 18%;
    height: 46%;
    text-align: justify;
}

.pSection8 {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Bonhomme */
#bonhomme {
    float: left;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 30%;
}



/* ######################################################################### */
/* --------------- Page 4 --------------- */
/* ######################################################################### */
/* Logo Eau et Rivieres */
#logoMedia {
    float: left;
    position: absolute;
    width: 20%;
    height: auto;
    border: 3px solid black;
    top: 10%;
    left: 54%;
}

/* Section 9 */
#section9 {
    float: left;
    position: absolute;
    border: 3px solid black;
    background-color: white;
    width: 35%;
    top: 10%;
    left: 8%;
    text-align: justify;
}

/* Section 10 */
#section10 {
    float: left;
    position: absolute;
    border: 3px solid black;
    background-color: white;
    width: 35%;
    top: 26%;
    left: 54%;
    text-align: justify;
}

/* Le tableau de logos */
#logos {
    float: left;
    position: absolute;
    width: 90%;
    height: 15%;
    left: 5%;
    top: 55%;
    border-collapse: separate;
    border-spacing: 10px 20px;; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}

#logos td {
    width: 12%;
    height: auto;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

#logo tr {
    height: 50%;
}

.logo {
    max-width: 90%;
    height: auto;
}

#logoNantes {
    width: 70%;
}

#logoUN {
    width: 80%;
}

#logoOpenSource {
    width: 38%;
}

#logoCC {
    width: 35%;
}

/* ######################################################################### */
/* --------------- Page 5 --------------- */
/* ######################################################################### */
