/* just a sample css rule to show that everything works */

/* Header */
header{
}

body{
	background : #ABC8E2;
}

#animation{
	text-align: center;
}

#texte{
	border:solid;
	border-width: 4px;
	background: white;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-right: 20%;
	margin-left: 20%;
}

#btnCommencer{
	margin-top: 30px;
	text-align: center;
}

/* Footer */
footer{
  font-size: small;
  text-align: center;
}
