/* just a sample css rule to show that everything works */

/* Header */
header{
}

body{
	background : #4BB5C1;
}

#animation{
	text-align: center;
}

#texte{
	border:solid;
	border-width: 4px;
	background: white;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
}

#btnCommencer{
	margin-top: 20px;
	text-align: center;
	border:solid;
	border-radius: 5px;
	background: #7FC6BC;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.lien{
	text-decoration: none;
}

/* Footer */
footer{
  font-size: small;
  text-align: center;
}
