/* Règles CSS en plus de celles de bootstrap ou fullpage.js*/

/* ######################################################################### */
/* --------------- Général --------------- */
/* ######################################################################### */

body{
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 1.2vw;
}

.normal {
    font-weight: 400;
    font-size: 0.9vw;
}

.section {
    background-color: #96edbd;
}

/* ----- Header ----- */
.navbar-brand>img {
    height: 20px;
    width: auto;
}

.panel {
    border: 3px solid black;
    background: white;
    position: absolute;
    float: left;
}



/* ######################################################################### */
/* --------------- Les Timelines --------------- */
/* ######################################################################### */
.timeline {
    float: left;
    position: absolute;
}

.timeline:before {
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: black;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item .timeline-badge {
    width: 2.08vw;
    height: 2.08vw;
    line-height: 50px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
}

.timeline .timeline-item .timeline-badge.primary {
    background-color: white;
}

.timeline .timeline-item .timeline-badge.primary:hover {
    background-color: #c7c8ca;
}

.timeline .timeline-item .timeline-badge.primary:focus {
    background-color: #414042;
    outline:0;
}

.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
}

.timeline-horizontal:before {
    height: 3px;
    top: auto;
    bottom: 13px;
    left: 5%;
    width: 101%;
    margin-bottom: 7%;
}

.timeline-horizontal .timeline-item {
    display: table-cell;
    height: 3.64vw;
    width: 20%;
    min-width: 4.16vw;
    float: left;
    left: 10.5%;
    margin: 0 auto;
}

.timeline-horizontal .timeline-item .timeline-badge {
    top: auto;
    bottom: 0px;
}

.pTimeline {
    padding-top: 100%;
    margin-left: -2px;
}



/* ######################################################################### */
/* --------------- Page 1 --------------- */
/* ######################################################################### */
#page1DisplayOn{
    filter :blur(0px);
}

/* Section 1 */
#section1 {
    top: 7vh;
    left: 5vw;
    width: 40vw;
    word-wrap : break-word;
    text-align: justify;
}

.pContent {
    padding-left: 10px;
    padding-right: 10px;
}

.pTop {
    padding-top: 0.5vw;
}

.pBottom {
    padding-top: 0.2vw;
    padding-bottom: 0.5vw;
}

/* Timeline1 : Positionnement et taille */
#timeline1 {
    width: 22vw;
    top: 37vh;
    left: 12vw;
}

/* Section 3 */
#section3 {
    top: 7vh;
    left: 50vw;
    width: 46vw;
    height: 80vh;
    word-wrap : break-word;
}

/* Histogrammes */
#histDroite {
    float: left;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 20.7vw;
}

#histGauche{
    float: left;
    position: absolute;
    top: 5%;
    left: 0%;
    width: 20.7vw;
}

.article1 {
    float: left;
    width: 50%;
    height: 80%;
}

#legendeTitle {
    padding-left: 10px;
}

#legende {
    padding: 5px;
    width: 100%;
}

.cellule{
    text-align: left;
    padding-left: 10px;
    width: 33%;
    display: inline-flex;
}

.pLegende {
    padding-left: 0.7vw;
}

.cellule svg {
    margin-top: 0.2vw;
}

#buttonSP {
    float: left;
    position: absolute;
    left: 80vw;
    top: 90vh;
    width: 15vw;
}

/* Carte Départements */
#mapBretagne {
    float: left;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 9vw;
}

#mapBretagne path {
    fill: white;
    stroke: black;
    stroke-width: 1 px;
    transition: fill 0.3s;
}

#mapBretagne path:hover{
    fill: #c7c8ca;
}

.st0 {
    fill: #806703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #F8C000;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #212653;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #6262E8;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #7C3703;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #EF6316;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #671D3A;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #AA3565;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #721C05;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #D42E1E;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #416C77;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
}

.st15 {
    fill: #1D1D1B;
}

.st16 {
    font-weight: 700;;
}

.st17 {
    font-size: 0.45vw;
}

.enSavoirPlusP1{
    font-weight: 400;
    border: solid;
    border-width: 5px;
    position: absolute;
    top: 20vh;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
    padding: 20px;
    background: white;
    z-index: 2;
    display: none;
}


#enSavoirPlusHautP1{
    font-weight: 700;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#boutonExitP1{
    margin-top: 17px;
    height: 36px;
    width: 36px;
}

#enSavoirPlusBasP1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#histTemps{

    left: 40%;
    width: 100%;
}

#enSavoirPlusBasP1 article{
    text-align: justify;
    margin: 20px;
}



/* ######################################################################### */
/* --------------- Page 2 --------------- */
/* ######################################################################### */
/* Section 4 */
#section4 {
    top: 7vh;
    left: 5vw;
    width: 25vw;
    word-wrap : break-word;
    text-align: justify;
}

.pTitle {
    padding: 0.7vw 0.7vw 0 0.7vw;
}

/* Section 5 */
#section5 {
    top: 68vh;
    left: 5vw;
    width: 25vw;
    height: 11.5vw;
}

#pCiterne {
    float: left;
    position: absolute;
    left: 30%;
    top: 34%;
    width: 17.5vw;
    text-align: justify;
}

.st100 {
    fill: #A0DAE8;
}

.st101 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st102 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st103 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#citerne {
    width: 22%;
    float: left;
    position: relative;
    top: 24%;
    left: 6%;
}

/* Carte Campbon */
#mapCampbon {
    float: left;
    position: absolute;
    top: 7%;
    left: 40%;
    width: 45%;
}

.st200 {
    fill: #7CCAE2;
}

.st201 {
    font-family: 'MyriadPro-Regular';
}

.st202 {
    font-size: 16.4237px;
}

.st203 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 3.5332;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st204 {
    fill: #FFFFFF;
}

.st205 {
    fill: #0C5F4C;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st206 {
    fill: #1EAE8D;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st207 {
    fill: none;
}

.st208 {
    fill: #1D1D1B;
}

.st209 {
    font-weight: 700;
}

.st210 {
    font-size: 17px;
}

.st211 {
    fill: #A0DAE8;
}

.st212 {
    fill: #7CCAE2;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st213 {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st214 {
    fill: #A0DAE8;
    stroke: #1D1D1B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}



/* ######################################################################### */
/* --------------- Page 3 --------------- */
/* ######################################################################### */
/* Section 6 : Texte Nappe de Campbon par année*/
#section6 {
    top: 7vh;
    left: 5vw;
    width: 31vw;
    text-align: justify;
}

/* Timeline 2 : positionnement et taille */
#timeline2 {
    width: 22vw;
    top: 10vh;
    left: 8.2vw;
}

/* Section 8 : Légende */
#section8 {
    top: 28vh;
    left: 75vw;
    width: 18vw;
    text-align: justify;
}

.pSection8 {
    padding-top: 0.37vw;
    padding-bottom: 0.37vw;
    padding-left: 1vw;
}

.articleS8 {
    display: inline-flex;
    padding-left: 0.6vw;
}

.articleS8 svg {
    margin-top: 0.6vw;
}

/* Bonhomme */
#bonhomme {
    float: left;
    position: absolute;
    top: 10vh;
    left: 40vw;
    width: 30vw;
}



/* ######################################################################### */
/* --------------- Page 4 --------------- */
/* ######################################################################### */
/* Petit paragraphe */
#pCredits1 {
    top: 7vh;
    left: 35vw;
    width: 30vw;
    padding: 10px;
    text-align: center;
}

/* Logo Eau et Rivieres */
#logoMedia {
    float: left;
    position: absolute;
    width: 20vw;
    height: auto;
    border: 3px solid black;
    top: 20vh;
    left: 54vw;
}

/* Section 9 : Présentation Eau et Rivieres */
#section9 {
    width: 35vw;
    top: 18vh;
    left: 8vw;
    text-align: justify;
}

/* Section 10 : Remerciements Eau et Rivieres */
#section10 {
    width: 35vw;
    top: 35vh;
    left: 54vw;
    text-align: justify;
}

/* Le tableau de logos des partenaires */
#logos {
    float: left;
    position: absolute;
    width: 75%;
    left: 12%;
    top: 60%;
    border-collapse: separate;
    border-spacing: 10px 20px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}

#logos td {
    width: 12%;
    height: auto;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

.logo {
    max-width: 90%;
    height: auto;
}

#logoPolytech {
    width: 80%
}

#logoAudencia {
    width: 80%;
}

#logoNantes {
    width: 70%;
}

#logoUN {
    width: 62%;
}

#logoOpenSource {
    width: 35%;
}

#logoCC {
    width: 35%;
}

/* ######################################################################### */
/* --------------- Page 5 --------------- */
/* ######################################################################### */
/* Petit paragraphe */
#pCredits2 {
    top: 15vh;
    left: 35vw;
    width: 30vw;
    padding: 10px;
    text-align: center;
}

/* Tableau de logos personnels */
#logosNous {
    float: left;
    position: absolute;
    top: 32vh;
    width: 90vw;
    left: 5vw;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 30px;
}

#logosNous td {
    width: 12vw;
    height: auto;
}

.imageNous {
    max-width: 90%;
    height: auto;
}

.name {
    margin-top: 3px;
    background-color: white;
    border: 3px solid black;
}
