/* just a sample css rule to show that everything works */

*{ /* 'normalisation' des marges et padding pour simplifier le positionnement */
  margin: 0;
  padding: 0;
}

#container{
	margin: 0 auto;
	position: relative;
}

/* Header */
body::before{
	display: block;
	height: 80px;
	position: absolute;
  width: 100%;
 	content: "";
}

header{
  background-color:aqua;
  height: 50px;
}

header ul{
  height: 50px;
}

header li{
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

#liTitle{
  font-size: 40px;
  width: 10%;
}

#liButton{ 
  position: relative;
  left: 55%;
  width: 80px;
  margin-right: 10px;
}

#hButton{
  background-color: dimgrey;
  height: 50px;
  width: 100%;
}

#liLogo{
  float: right;
}

#logo{
  height: 50px;
  width: auto;
}

/* Footer */
footer{
  font-size: small;
  text-align: center;
}
