/* --------------- INTRO 1 ---------------*/
#section-pourquoi {
	padding: 40px 40px;
}

.pourquoi {
	color: #265C8E;
	font-size: 20px;
	margin-left: 4%;
	margin-bottom: 20px;
}

#nantes-img {
	width: 48%;
	margin-left: 4%;
}

#nana-nantes {
	width: 8%;
	margin-left: 2%;
	position: relative;
	top: 50px;
}

#bulle {
	position: absolute;
	width: 4%;
	top: 100px;
	left: 67%;
}

#presentation-block {
	position: absolute;
	width: 24%;
	top: 8%;
	left: 70%;
	color: black;
	font-size: 16px;
}

#presentation1, #presentation2 {
	margin-bottom: 20px;
}

@media (max-width:1200px) {
	#bulle {
		left: 64%;
		top: 20%;
	}
	#carte-container {
		
	}
}

@media (max-width: 990px) {
	#bulle {
		top: 33%;
	}
	#carte-container {
		
	}
	.pourquoi {
		margin-left: 4%;
		margin-bottom: 80px;
	}

	#nantes-img {
		width: 48%;
		margin-left: 0%;
		margin-top: 3%;
	}

	#nana-nantes {
		width: 8%;
		margin-left: 2%;
		position: relative;
		margin-top: 5%;
	}
}

@media (max-width: 760px) {
	#presentation-block {
		left: 60%;
		top: 16%;
		width: 30%;

	}
	#bulle {
		left: 55%;
		top: 290px;
	}
	.pourquoi {
		margin-left: 4%;
		margin-bottom: 80px;
	}

	#nantes-img {
		width: 48%;
		margin-left: 0%;
		margin-top: 20%;
	}

	#nana-nantes {
		width: 8%;
		margin-left: 2%;
		position: relative;
		margin-top: 18%;
	}
}

@media (max-width: 610px) { 
	#presentation-block {
		font-size: 14px;
	}
	#nana-nantes {
		position: relative;
		top: 36px;
	}
}

@media (max-width: 560px) {
	#presentation-block {

		position: relative;
		left: 0px;
		margin-left: 20px;
		width: auto;
		top: 0px;
	}
	#bulle {
		display: none;
	}
	.pourquoi {
		margin-left: 4%;
		margin-bottom: 60px;
	}

	#nantes-img {
		position: relative;
		top : 0px;
		margin-left: 20px;
		width: 70%;
	}

	#nana-nantes {
		top: 35px;
		width: 10%;
	}
}
/* --------------- INTRO 2 --------------- */
#section-carte {
	padding: 40px 40px;
}

#plus, #chacune {
	color: black;
	text-align: right;
	width: 54%;
	font-size: 16px;
	margin-bottom: 20px;
}

.blue-text {
	color: #265C8E;
}

#bulle2 {
	width: 24%;
	margin-left: 34%;
}

#paris-img {
	width: 40%;
	margin-left: 4%;
}

#nanavalise {
	width: 18%;
	top: 175px;
	margin-left: 2%;
}

#carte-container {
	position: absolute;
	width: 20%;
	top: 15%;
	left: 70%;
	text-align: center;
}

#carte-france {
	width: 90%;
	position: relative;
	right: 20px;
	margin-left: auto;
	margin-right: auto;
}

#ombre-carte {
	width: 80%; 
}

p.ville-des, #survolez-ville {
	position: absolute;
	width: 20%;
	top: 65%;
	left: 70%;
	text-align: center;
	color: black;
	color: #838383;	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 19px;
	text-align: center;
}

p.ville-des {
	display: none;
}
.city {
	display: block;
	color: #ED524A;
}

.cd-product-wrapper {
  position: relative;
}
 
.cd-single-point {
  position: absolute;
}

.cd-single-point#pt-lille {
  top: 12%;
  left: 48%;
}
.cd-single-point#pt-nantes {
  top: 44%;
  left: 16%;
}
.cd-single-point#pt-rennes {
  top: 32%;
  left: 16%;
}
.cd-single-point#pt-bordeaux {
  top: 61%;
  left: 24%;
}
.cd-single-point#pt-lyon {
  top: 52%;
  left: 53%;
}
.cd-single-point#pt-nice {
  top: 71%;
  left: 71%;
}
.cd-single-point#pt-grenoble {
  top: 60%;
  left: 61%;
}
.cd-single-point#pt-toulouse {
  top: 70%;
  left: 34%;
}
.cd-single-point#pt-aix {
  top: 73%;
  left: 56%;
}
.cd-single-point#pt-strasbourg {
  top: 28%;
  left: 74%;
}
.cd-single-point::after {
  /* Ceci est utilisé pour créer l'animation pulse*/
  content: '';
  position: absolute;
  border-radius: 70%;
  width: 100%;
  height: 80%;
  top: 16%;
  right: 2%;
  animation: cd-pulse 2s infinite;
}
 
@keyframes cd-pulse {
  0% {
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
 
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
 
  100% {
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

.cd-single-point .nom-ville {
	position: absolute;
	display: none;
	color: black;
	font-weight: bold;
	font-size: 13px;
	z-index: 2;
	top: 2px;
	left: 17px;
}

@media (max-width:1000px) {
	.section-container {
		zoom: 92%;
	}
	#carte-container {
		zoom: 92%;
	}
}

@media (max-width:800px) {
	.section-container {
		zoom: 80%;
	}
	#carte-container {
		zoom: 80%;
	}
}

@media (max-width:500px) {
	.section-container {
		zoom: 60%;
	}
	#carte-container {
		zoom: 60%;
	}
	#plus, #chacune {
		font-size: 12px;
	}
	p.ville-des, #survolez-ville {
		width: 80%;
		top: 65%;
		left: 10%;
	}
}
