/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

#section0{
	background-color: #272525;
}
#section0 h1{
	color: #FFFFFF;
}
#section0 p{
	color: #FFFFFF;
	opacity: 0.4;
}

#section1{
	background-color: #272525;
}
#section1 h1{
	color: #FFFFFF;
}
#section1 p{
	color: #FFFFFF;
	opacity: 0.4;
}

#section2{
	background-color: #272525;
}
#section2 h1{
	color: #FFFFFF;
}
#section2 p{
	color: #FFFFFF;
	opacity: 0.4;
}

#section3{
	background-color: #272525;
}
#section3 h1{
	color: #FFFFFF;
}
#section3 p{
	color: #FFFFFF;
	opacity: 0.4;
}
 
#section4{
	background-color: #272525;
}
#section4 h1{
	color: #FFFFFF;
}
#section4 p{
	color: #FFFFFF;
	opacity: 0.4;
}

