%full-viewport{
  position: relative;
  width: 100vw;
  height: 100vh;
}

%titre-titre{
  font-family: $main-font;
  font-size: 48px;
  font-weight: bold;
}

%mini-titre{
  font-family: $main-font;
  font-size: 24px;
  font-weight: bold;
}

%titre-epci{
  font-family: $epci-font;
  font-size: 48px;
  font-weight: medium;
}

%titre-epci_mini{
  font-family: $epci-font;
  font-size: 24px;
  font-weight: 400;
}

%texte-labeur{
  font-family: $main-font;
  font-size: 16px;
  font-weight: medium;
}

%data-donnee{
  font-family: $main-font;
  font-size: 133px;
  font-weight: 800;
}

%data-echelle{
  font-family: $main-font;
  font-size: 48px;
  font-weight: medium;
}

%data-liste{
  font-family: $main-font;
  font-weight: 800;
}
