/*couleur principale*/
$main-color: #34EBC2;
$main-darker: rgba(23,152,139,1);

$main-contrast: #FBEE3D;


$blue-color: rgba(104,192,237,1);

$scale-color10: rgba(240,101,85,1);
$scale-color20: rgba(244,133,64,1);
$scale-color30: rgba(248,165,43,1);
$scale-color40: rgba(251,157,21,1);
$scale-color50: rgba(255,229,0,1);
$scale-color60: rgba(225,223,36,1);
$scale-color70: rgba(195,216,76,1);
$scale-color80: rgba(165,210,113,1);
$scale-color90: rgba(135,203,151,1);
$scale-color100: rgba(105,197,185,1);

$data-jaune: rgba(255,224,0,1);
$data-jaunepale: rgba(254,235,39,1);

$data-metier1: rgba(223,38,29,1);
$data-metier2: rgba(213,188,40,1);
$data-metier3: rgba(88,83,83,1);
$data-metier4: rgba(100,151,182,1);
$data-metier5: rgba(104,192,237,1);
$data-metier6: rgba(235,103,105,1);

$data-CDI: rgba(255,224,0,1);
$data-CDD: rgba(0,141,139,1);
$data-apprentis: rgba(88,83,83,1);
$data-interim: rgba(104,192,237,1);

$data-CCBaisse: rgba(235,141,139,1);
$data-CCHausse: rgba(223,38,29,1);

$data-travauxneuf: rgba(254,235,39,1);
$data-travauxMP: rgba(52,48,71,1);
$data-travauxRéno: rgba(0,121,122,1);


$white: #ffffff;
$black: rgba( 29, 29, 27, 1 );



/*typo principale*/
$main-font: 'Montserrat', sans-serif;

/*typo epci*/
$epci-font: 'Barlow Condensed', sans-serif;

/*typo data*/
$data-font: 'Open Sans', sans-serif;
